<sw-modal
    :title="$tc('frosh-flow-builder.dataModal.title')"
    @modal-close="onModalChange"
>
    <template #body>
        <sw-container style="padding: 20px 30px;">
            <sw-container
                columns="1fr 1fr 1fr"
                gap="0px 15px"
                class="frosh-flow-data-modal__metadata"
            >
                <sw-description-list>
                    <dt>
                        {{ $tc('frosh-flow-builder.history.columns.executedAt') }}
                    </dt>
                    <dd>{{ executedAt }}</dd>
                </sw-description-list>
                <sw-description-list>
                    <dt>
                        {{ $tc('frosh-flow-builder.history.columns.status') }}
                    </dt>
                    <dd>
                        <div
                            style="display: flex; align-items: center; gap: 8px;"
                        >
                            <sw-color-badge
                                :color="stateColor"
                                rounded
                            />
                            {{ $tc('frosh-flow-builder.history.state.' + flowHistoryEntry.state) }}
                        </div>
                    </dd>
                </sw-description-list>
                <sw-description-list>
                    <dt>
                        {{ $tc('frosh-flow-builder.history.columns.triggeredBy') }}
                    </dt>
                    <dd>
                        <router-link
                            v-if="flowHistoryEntry.customer"
                            :to="{ name: 'sw.customer.detail', params: { id: flowHistoryEntry.customerId } }"
                            style="display: inline-flex; align-items: center; gap: 6px;"
                        >
                            <sw-icon
                                name="regular-users"
                                size="16"
                            />
                            {{ flowHistoryEntry.customer.firstName }}
                            {{ flowHistoryEntry.customer.lastName }}
                            (
                            {{ flowHistoryEntry.customer.customerNumber }}
                            )
                        </router-link>
                        <router-link
                            v-else-if="flowHistoryEntry.user"
                            :to="{ name: 'sw.users.permissions.user.detail', params: { id: flowHistoryEntry.userId } }"
                            style="display: inline-flex; align-items: center; gap: 6px;"
                        >
                            <sw-icon
                                name="regular-user"
                                size="16"
                            />
                            {{ flowHistoryEntry.user.username }}
                        </router-link>
                        <router-link
                            v-else-if="flowHistoryEntry.integration"
                            :to="{ name: 'sw.integration.index' }"
                            style="display: inline-flex; align-items: center; gap: 6px;"
                        >
                            <sw-icon
                                name="regular-plug"
                                size="16"
                            />
                            {{ flowHistoryEntry.integration.label }}
                        </router-link>
                        <template v-else>-</template>
                    </dd>
                </sw-description-list>
            </sw-container>
            <mt-textarea
                :model-value="flowData"
                :label="$tc('frosh-flow-builder.dataModal.payloadLabel')"
                :disabled="true"
            />
        </sw-container>
        <sw-container
            v-if="flowHistoryEntry.error"
            style="border-top: 1px solid #d1d9e0; padding: 20px 30px;"
        >
            <sw-container
                columns="1fr 1fr"
                gap="0px 15px"
                class="frosh-flow-data-modal__metadata"
            >
                <sw-description-list>
                    <dt>
                        {{ $tc('frosh-flow-builder.dataModal.errorType') }}
                    </dt>
                    <dd>
                        {{ flowHistoryEntry.error.type }}
                    </dd>
                </sw-description-list>
                <sw-description-list>
                    <dt>
                        {{ $tc('frosh-flow-builder.dataModal.errorLine') }}
                    </dt>
                    <dd>
                        {{ flowHistoryEntry.error.line }}
                    </dd>
                </sw-description-list>
            </sw-container>
            <sw-description-list class="frosh-flow-data-modal__error-file">
                <dt>
                    {{ $tc('frosh-flow-builder.dataModal.errorFile') }}
                </dt>
                <dd>
                    {{ flowHistoryEntry.error.file }}
                </dd>
            </sw-description-list>
            <mt-textarea
                :model-value="flowHistoryEntry.error.message"
                :label="$tc('frosh-flow-builder.dataModal.errorMessage')"
                :disabled="true"
            />
        </sw-container>
    </template>
</sw-modal>
